<?php
$this->headScript()->appendFile(
        'http://maps.google.com/maps/api/js?libraries=places', 'text/javascript'
);

$this->headTitle($this->title);
?>
<h1><?php echo $this->escapeHtml($this->title); ?></h1>
<a class="btn btn-primary" href="<?php echo $this->url('start'); ?>">&laquo; Back to list</a>
<?php
echo $this->form()->openTag($form);
echo $this->form($form);
echo $this->form()->closeTag();
?>

<?php
// get post data
$params = $this->getHelperPluginManager()
        ->getServiceLocator()
        ->get('Request')
        ->getPost();

$this->inlineScript()->captureStart();
?>
    var position = null, timeout = null, geocoder, map, marker, infowindow;

<?php if ($params->get('address') && $params->get('latitude') && $params->get('longitude')) { //if data is in post 
    ?>
        position = {
            name: '<?php echo $params->get('address'); ?>',
            lat: '<?php echo $params->get('latitude'); ?>',
            lng: '<?php echo $params->get('longitude'); ?>'
        };
    <?php
} else if ($form->get('address')->getValue() && $form->get('latitude')->getValue() && $form->get('longitude')->getValue()) { //if it is form edit
    ?>
        position = {
            name: '<?php echo $form->get('address')->getValue(); ?>',
            lat: '<?php echo $form->get('latitude')->getValue(); ?>',
            lng: '<?php echo $form->get('longitude')->getValue(); ?>'
        };
<?php }
?>
    $(function () {
        if ($('input[name=address]').parents('.form-group:eq(0)').length) {
            $('input[name=address]').parents('.form-group:eq(0)').after('<div id="map-canvas" style="width: 100%; height: 400px; margin-top: 10px;"></div>');
            // Try HTML5 geolocation.
            if (!position) {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (pos) {
                        position = {
                            lat: pos.coords.latitude,
                            lng: pos.coords.longitude
                        };
                        $.get("http://ipinfo.io", function (response) {
                            position.name = response.city;
                            initialize();
                        }, "jsonp");
                    });
                } else {
                    position = {name: 'Płock', lat: 52.5476965, lng: 19.718021399999998};
                    google.maps.event.addDomListener(window, 'load', initialize);
                }
            } else {
                google.maps.event.addDomListener(window, 'load', initialize);
            }

        }

        $('input[name=address]').on(' change', function (e) {
            e.preventDefault();
            if (e.type === 'keyup') { //now not used
                if (timeout) {
                    clearTimeout(timeout);
                    timeout = null;
                }
                timeout = setTimeout(function () {
                    geocodeAddress(geocoder, map);
                }, 1500);
            } else { //change
                geocodeAddress(geocoder, map);
            }
        });


    });

    function initialize() {
        var mapPosition = new google.maps.LatLng(
                position.lat,
                position.lng
                );
        var mapOptions = {
            center: mapPosition,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoom: 14
        };

        geocoder = new google.maps.Geocoder();

        map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
        marker = new google.maps.Marker({
            position: mapPosition,
            map: map,
            title: position.name
        });

        infowindow = new google.maps.InfoWindow({
            content: position.name
        });
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });

        var input = document.querySelectorAll('input[name=address]')[0];


        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
    }

    function geocodeAddress(geocoder, resultsMap) {
        var address = $('input[name=address]').val();
        geocoder.geocode({'address': address}, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                if (marker) {
                    marker.setMap(null);
                }
                marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });

                infowindow = new google.maps.InfoWindow({
                    content: address
                });
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(resultsMap, marker);
                });

                $('input[name=latitude]').val(results[0].geometry.location.lat);
                $('input[name=longitude]').val(results[0].geometry.location.lng);
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
<?php
$this->inlineScript()->captureEnd(); //end capture script js
