<html>
    <body>
        <h4>New locations was been saved</h4>
        <br/>
        <table>
            <tbody>
                <tr>
                    <th>Name and url</th>
                    <td><a href="<?php echo $this->url('location', array('action' => 'show', 'id' => $this->location->getId()), array('force_canonical' => true)); ?>"><?php echo $this->location->getName(); ?></a></td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td><?php echo $this->location->getDescription(); ?></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>
                        <?php echo $this->location->getAddress(); ?><br/>
                    </td>
                </tr>      
                <tr>
                    <th>Email</th>
                    <td><?php echo $this->location->getEmail(); ?></td>
                </tr> 
                <tr>
                    <th>Available</th>
                    <td><?php echo $this->location->getAvailableFrom()->format('Y-m-d'); ?> - <?php echo $this->location->getAvailableTo()->format('Y-m-d'); ?></td>
                </tr> 
                <tr>
                    <th>Created</th>
                    <td><?php echo $this->location->getCreated()->format('Y-m-d'); ?></td>
                </tr>  
                <tr>
                    <th>Updated</th>
                    <td><?php echo $this->location->getUpdated()->format('Y-m-d'); ?></td>
                </tr> 
            </tbody>
        </table>
    </body>
</html>