<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" href="<?php echo $this->url('location', array('action' => 'new'), array(), null, true); ?>"><i class="glyphicon glyphicon-plus"></i> Create new location</a>
        <br/><br/>
        <?php
        // Get params from query string
        $params = $this->getHelperPluginManager()
                ->getServiceLocator()
                ->get('Request')
                ->getQuery();
        $search = isset($params['search']) ? $params['search'] : '';
        $searchString = $search ? '?search=' . $search : '';
        ?>
        <form name="searchForm" action="<?php echo $this->url('location'); ?>" method="GET">
            <div class="form-group">
                <input name="search" type="text" class="form-control" value="<?php echo $search; ?>" id="search" placeholder="What location are you looking for?">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
            <a href="<?php echo $this->url('location'); ?>" class="btn btn-danger">Reset</a>
        </form>
        <?php
        if ($this->paginator->count() > 0) {
            $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
            ?>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <a href="<?php echo $this->url('start', array('order_by' => 'id', 'order' => $order_by !== 'id' ? 'ASC' : $url_order), array(), null, true) . $searchString; ?>">ID <?php if ($order_by == 'id'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
                        </th>
                        <th>
                            <a href="<?php echo $this->url('start', array('order_by' => 'name', 'order' => $order_by !== 'name' ? 'ASC' : $url_order)) . $searchString; ?>">Name <?php if ($order_by == 'name'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
                        </th>
                        <th>
                            <a href="<?php echo $this->url('start', array('order_by' => 'address', 'order' => $order_by !== 'address' ? 'ASC' : $url_order)) . $searchString; ?>">Address <?php if ($order_by == 'address'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
                        </th>                       
                        <th>
                            <a href="<?php echo $this->url('start', array('order_by' => 'email', 'order' => $order_by !== 'email' ? 'ASC' : $url_order)) . $searchString; ?>">Email <?php if ($order_by == 'email'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
                        </th>
                        <th>
                            <a href="<?php echo $this->url('start', array('order_by' => 'availableFrom', 'order' => $order_by !== 'availableFrom' ? 'ASC' : $url_order)) . $searchString; ?>">Available from <?php if ($order_by == 'availableFrom'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
                        </th>
                        <th>
                            <a href="<?php echo $this->url('start', array('order_by' => 'availableTo', 'order' => $order_by !== 'availableTo' ? 'ASC' : $url_order)) . $searchString; ?>">Available to <?php if ($order_by == 'availableTo'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
                        </th>
                        <th>
                            <a href="<?php echo $this->url('start', array('order_by' => 'created', 'order' => $order_by !== 'created' ? 'ASC' : $url_order)) . $searchString; ?>">Created <?php if ($order_by == 'created'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
                        </th>
                        <th>
                            <a href="<?php echo $this->url('start', array('order_by' => 'updated', 'order' => $order_by !== 'updated' ? 'ASC' : $url_order)) . $searchString; ?>">Updated <?php if ($order_by == 'updated'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a>
                        </th>                       
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->paginator as $location) : ?>
                        <tr>
                            <td><?php echo $location->getId(); ?></td>
                            <td><?php echo $location->getName(); ?></td>
                            <td><?php echo $location->getAddress(); ?></td>
                            <td><?php echo $location->getEmail(); ?></td>
                            <td><?php echo $location->getAvailableFrom()->format('Y-m-d'); ?></td>
                            <td><?php echo $location->getAvailableTo()->format('Y-m-d'); ?></td>
                            <td><?php echo $location->getCreated()->format('Y-m-d H:i'); ?></td>
                            <td><?php echo $location->getUpdated()->format('Y-m-d H:i'); ?></td>                         
                            <td>
                                <a href="<?php echo $this->url('location', array('action' => 'edit', 'id' => $location->getId())); ?>">Edit <i class="glyphicon glyphicon-pencil"></i></a>
                                <a class="confirmAction" data-confirm-title="Confirm action" data-confirm-content="Do you want delete <?php echo $location->getName(); ?> location?" href="<?php echo $this->url('location', array('action' => 'delete', 'id' => $location->getId())); ?>">Delete <i class="glyphicon glyphicon-trash"></i></a>
                                <a href="<?php echo $this->url('location', array('action' => 'show', 'id' => $location->getId())); ?>">Show <i class="glyphicon glyphicon-eye-open"></i></a>
                            </td>

                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
            <?php
            // add at the end of the file after the table
            echo $this->paginationControl(
                    // the paginator object
                    $this->paginator,
                    // the scrolling style
                    'sliding',
                    // the partial to use to render the control
                    'partial/paginator.phtml',
                    // the route to link to when a user clicks a control link
                    array(
                'route' => 'location'
                    )
            );
        } else {
            ?>
            <p class="text-warning">Nothing found!</p>
        <?php } ?>
    </div>
</div>
