<?php
$this->headScript()->appendFile(
        'http://maps.google.com/maps/api/js?libraries=places', 'text/javascript'
);

$this->headTitle($this->escapeHtml($this->location->getName()) . ' location details');
?>

<div class="row">
    <div class="col-md-12">
        <h1>"<?php echo $this->escapeHtml($this->location->getName()); ?>" location details</h1>
        <a class="btn btn-primary" href="<?php echo $this->url('start'); ?>">&laquo; Back to list</a>        
        <br/>

        <div class="col-md-7">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td><?php echo $this->location->getName(); ?></td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td><?php echo $this->location->getDescription(); ?></td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>
                            <?php echo $this->location->getAddress(); ?><br/>
                            <div id="map-canvas" style="width: 100%; height: 400px; margin-top: 10px;"></div>
                        </td>
                    </tr>      
                    <tr>
                        <th>Email</th>
                        <td><?php echo $this->location->getEmail(); ?></td>
                    </tr> 
                    <tr>
                        <th>Available</th>
                        <td><?php echo $this->location->getAvailableFrom()->format('Y-m-d'); ?> - <?php echo $this->location->getAvailableTo()->format('Y-m-d'); ?></td>
                    </tr> 
                    <tr>
                        <th>Created</th>
                        <td><?php echo $this->location->getCreated()->format('Y-m-d'); ?></td>
                    </tr>  
                    <tr>
                        <th>Updated</th>
                        <td><?php echo $this->location->getUpdated()->format('Y-m-d'); ?></td>
                    </tr> 
                </tbody>
            </table>

            <h4>Comments</h4>
            <ul class="list-unstyled">
                <?php
                if ($this->paginator->count() === 0) {
                    ?>
                    <li><p class="text-danger">Nothing found...</p></li>
                    <?php
                } else {
                    foreach ($this->paginator as $key => $comment) {
                        ?>
                        <li>
                            <div class="panel <?php echo $key % 2 === 0 ? 'panel-primary' : 'panel-success'; ?>">
                                <div class="panel-heading" style="clear: both; overflow: hidden;">
                                    <span class="pull-left">
                                        Created <?php echo $comment->getCreated()->format('Y-m-d H:i'); ?> by: <?php echo $comment->getEmail(); ?>
                                    </span>
                                    <span class="pull-right">
                                        <a class="confirmAction" data-confirm-title="Confirm action" data-confirm-content="Do you want delete user: <?php echo $comment->getEmail(); ?> comment?" style="color: red;" title="Remove comment" href="<?php echo $this->url('location', array('action' => 'delete-comment', 'id' => $comment->getId())); ?>"><i class="glyphicon glyphicon-trash"></i></a>
                                    </span>
                                </div>
                                <div class="panel-body">
                                    <?php echo $comment->getComment(); ?>
                                </div></div>
                        </li>
                        <?php
                    }
                    echo $this->paginationControl(
                            // the paginator object
                            $this->paginator,
                            // the scrolling style
                            'sliding',
                            // the partial to use to render the control
                            'partial/paginator.phtml',
                            // the route to link to when a user clicks a control link
                            array(
                        'route' => 'location',
                        'routeParams' => array(
                            'action' => 'show',
                            'id' => $this->location->getId()
                        )
                            )
                    );
                }
                ?>
            </ul>
            <br/>
            <div class="panel-default">
                <div class="panel-heading" style="clear: both; overflow: hidden;">
                    <strong>Add new comment</strong>
                </div>
                <div class="panel-body">
                    <?php
                    echo $this->form()->openTag($form); //open tag <form>
                    echo $this->form($form); //form fields
                    echo $this->form()->closeTag(); //end tag <form>
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>
<?php
//Capture js code
$this->inlineScript()->captureStart();
?>
var position = null, timeout = null, map, marker, infowindow;

<?php if ($this->location->getAddress() && $this->location->getLatitude() && $this->location->getLongitude()) { //create position var from database data - used in google map
    ?>
    position = {
    name: '<?php echo $this->location->getAddress(); ?>',
    lat: '<?php echo $this->location->getLatitude(); ?>',
    lng: '<?php echo $this->location->getLongitude(); ?>',
    };
<?php }
?>
$(function () {
if (position) {
initialize();
}
});

function initialize() {
var mapPosition = new google.maps.LatLng(
position.lat,
position.lng
);
var mapOptions = {
center: mapPosition,
mapTypeId: google.maps.MapTypeId.ROADMAP,
zoom: 16
};

map = new google.maps.Map(document.getElementById('map-canvas'),
mapOptions);
marker = new google.maps.Marker({
position: mapPosition,
map: map,
title: position.name.toString()
});

infowindow = new google.maps.InfoWindow({
content: position.name.toString()
});
google.maps.event.addListener(marker, 'click', function () {
infowindow.open(map, marker);
});
}
<?php
$this->inlineScript()->captureEnd();

